<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>OW! NH</title>
    </head>
    <body>
        <h1>OW!NH<br>A boulderers guide to offwidths in New Hampshire</h1>
    </body>
    <body>
    {% for climb in climbs %}
        <div>
            <h2>Name: {{ climb.climb_name }}</h2>
            <h3>Location: {{ climb.location }}</h3>
            <img src="{{ url_for('static', filename=climb.picture_path) }}"/>
            <p><b>Description:</b> {{ climb.description }}</p>
            <p><b>Getting There:</b> {{ climb.getting_there }}</p>
        </div>
    {% endfor %}
    </body>
</html>